.MuiAccordionDetails-root {
    max-height: 400px;
    overflow-y: scroll;
}

.MuiAccordion-root {
    margin-bottom: 0.25rem;
    border: none !important;
    border-radius: 4px !important;
}

.MuiAccordion-root::before{
    display: none !important;
}

.MuiAccordion-root .MuiAccordionSummary-root  {
    /* Controls summary styling */
    margin: 0;
    min-height: 2.5rem;
    height: 2.5rem;
    border: none !important;
    border-radius: 3rem;
}


.MuiAccordion-root .MuiAccordionDetails-root  {
    margin: 0;
    border-radius: 3rem;
    border: none !important;
    
}

.MuiAccordion-root .Mui-expanded {
    margin: 0 !important;
    border-radius: 3rem;
    border: none !important;
    
}

.MuiAccordionDetails-root {
    border: none !important;
}


html, body {margin: 0; height: 100%; overflow: hidden}
