html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.MuiAccordion-root {
    margin-bottom: 0.25rem;
    border-radius: 4px !important;
    background-color: transparent !important;
    flex-grow: 0;
}

.MuiAccordion-root.Mui-expanded {
    margin-bottom: 0.25rem !important;
    flex-grow: 1;
}

.MuiAccordion-root::before {
    /* Remove border */
    display: none !important;
}

.MuiAccordion-root .MuiAccordionSummary-root {
    flex-direction: row-reverse;
    
    background-color: white;
    width: 100%;
    max-height: 2.5rem;
    min-height: min-content;
    border-radius: 4px !important;
    gap: 10px;
    padding: 8px 10px 8px 10px;
}

.MuiAccordion-root .MuiAccordionSummary-root:hover {
    background-color: #fafafa;
}


.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters {
    justify-content: space-between;
    
}

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters .MuiChip-root {
    display: none;
}

.MuiAccordionSummary-content:hover.MuiAccordionSummary-contentGutters .MuiChip-root {
    display: flex;
}



.MuiAccordion-root .MuiAccordionSummary-root.Mui-expanded {
    min-height: min-content;
}

.MuiAccordionSummary-root .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
    transform: rotate(90deg);
}

.MuiAccordion-root .MuiAccordionDetails-root {
    position: relative;
    width: 100%;
    max-height: 40vh;
    padding: 0.5rem;
    overflow-y: scroll;
    background-color: transparent !important;
}

.radial-bg {
    background: radial-gradient(141.16% 88.12% at 72.56% -27.15%, rgba(96, 143, 237, 0.65) 26.9%, rgba(255, 255, 255, 0) 100%, rgba(234, 240, 253, 0.0864956) 100%),
        radial-gradient(263.09% 92.34% at 27.32% 98.2%, rgba(174, 224, 240, 0.65) 0%, rgba(244, 250, 252, 0) 56.96%),
        linear-gradient(0deg, rgba(210, 210, 210, 0.15), rgba(210, 210, 210, 0.15)),
        linear-gradient(0deg, rgba(238, 238, 238, 0.55), rgba(238, 238, 238, 0.55));
}

.accordion-container {
    border-radius: 6px;
    border: 1px solid rgba(210, 210, 210, 0.15);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
}