html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.accordion-container {
    border-radius: 6px;
    background-color: #F7F7F8;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(210, 210, 210, 0.1);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bg-radial {
    background: radial-gradient(90% 60% at 20% -15%, rgba(96, 143, 237, 0.15) 5%, rgba(255, 255, 255, 0) 100%)
        , radial-gradient(220% 60% at 30% 100%, rgba(174, 224, 240, 0.35) 0%, rgba(244, 250, 252, 0) 56.96%)
        , #F7F7F8;
    background-blend-mode: multiply;
}


.accordion-item {
    
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

.bg-fade {
    background: linear-gradient(90deg, rgba(240, 240, 240, 0.45) 0%, rgba(255, 255, 255, 1) 35%);
}

.button-big {
    border-radius: 36px;
    background: #F2FAFC;
    border: 1px solid #e2e7f2;
    border-radius: 36px;

}

.button-big:hover #icon {
    background-color: #D8EDF2;

}

.button-big:hover {
    background: #E9F4F7;
    transform: scale(1.05);
}

.pill {
    background: #E5ECF7;
    border: 1px solid #D2DCED;
    color: #4173C2;
}

.pill:hover {
    background: #D7E2F4;
    transform: scale(1.05);
}

.pill-red {
    background: #F7E5EB;
    border: 1px solid #EDD2D7;    
}

.pill-red:hover {
    background: #f0dde4;
    transform: scale(1.05);
}