node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/postgres-data

/app/styles/tailwind.css
*.pyc
*.pyc
streams-graph-api/api/routes/__pycache__/streams.cpython-310.pyc
tweetscape-streams-postgres.env
*.env
*.env
neo4j/cluster_credentials.env
*.code-workspace
.env.test
data/
coverage
neo4j/test/logs
